{{#each users}}
<ul>
    <li><strong>Name: </strong> {{this.firstName}} {{this.lastName}}</li>
    <li><strong>Email: </strong> {{this.email}}</li>
    <li><strong>Address: </strong> {{this.address}} {{this.city}}, {{this.state}} {{this.zip}}</li>
</ul>
{{/each}}